* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
  margin: 0;

  background-image: linear-gradient(90deg, #e2b112, #d6a400);
}

.search {
  position: relative;
  height: 50px;
}

.input {
  border-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.search-action {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.search-action:focus,
.input {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .search-action {
  transform: translateX(198px);
}
