* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  color: #d4d4d4;
  display: flex;
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  cursor: pointer;
  word-break: break-all;
  text-align: center;
}

.sliders {
  width: 80%;
  padding: 1rem;
  background: white;

  display: flex;
  flex-direction: column;
  position: absolute;

  bottom: 0%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

  pointer-events: none;
  opacity: 0;

  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.close-adjustment,
.close-save,
.close-library {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  padding: 0.5rem;

  border-radius: 50%;
  border: none;
  cursor: pointer;

  color: white;
  background: #333;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.button-panel {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #1f213f;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.label {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  border: 1px solid white;
  border-radius: 1rem;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
  border-color: white;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup,
.save-popup,
.library-popup {
  min-width: 30%;
  height: 30vh;
  background: white;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: transform 0.6s ease;
  transform: translateY(-2rem);
}

.save-popup {
  height: auto !important;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0);
}

.like,
.copied,
.title-save,
.title-libray {
  font-size: 1.25rem;
  padding: 2rem;
}

.save-name {
  font-size: 1rem;
  padding: 1rem;
}

.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  color: white;
  background: #0c223c;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
